<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=.;Initial Catalog=AitagDB;User ID=sa;Password=1234;Persist Security Info=True;"/>
    <add key="filePath" value="D:\Source\防偽標章\金峰南迴小米序號資訊_AZ.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>