<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<META name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=11.000"/>
<meta http-equiv="X-UA-Compatible" content="IE=10.000"/>
<meta http-equiv="X-UA-Compatible" content="IE=9" >
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<meta http-equiv="X-UA-Compatible" content="IE=7" >
<title>Aitag-History</title>
<link href="/frontcss/style.css" rel="stylesheet" type="text/css">
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
<!--[if lt IE 9]>
<script src="/frontjs/html5.js"></script>
<script src="/frontjs/css3-mediaqueries.js"></script>
<![endif]-->
    <script>
        /*單層共用ajax , ajax_drop(obj1, tmpsql, vald, showd, rowno)
        string : obj1 , <div>的名稱
        string tmpsql : sql語法,包含where條件
        string vald : 數值欄位
        string showd : 呈現欄位
        string rowno : 多筆時的第幾行
        */
        var nowrow = 0;
        var arr1;

        function ajax_drop(obj1, tmpsql, vald, showd, rowno) {

            var sqldata1 = tmpsql;
            //alert(tmpsql)

            if (!(event.keyCode == 38 || event.keyCode == 40 || event.keyCode == 32)) {
                nowrow = 0;
            }

            if (nowrow == 0) {
                nowrow = 1;
                $("#" + obj1).css("display", "");
                $("#" + obj1).load("/ajax/ajaxdropbox", { sqldata: sqldata1, ajaxdiv: obj1, valname: vald, showname: showd });
                if (event.keyCode == 40) {
                    {  //往上到0,再往下會遇到這樣 , 所以先清空
                        $("#idarray" + nowrow).css("background", "#ffffff");
                        nowrow = 0;
                    }
                }
            }

            if (event.keyCode == 38) {

                $("#idarray" + vald + nowrow).css("background", "#ffffff");
                if (nowrow > 0)
                { nowrow--; }

                if (nowrow == 0) {
                    $("#" + obj1).css("display", "none");
                }

            }
            else if (event.keyCode == 40) {
                $("#idarray" + vald + nowrow).css("background", "#ffffff");
                nowrow++;

                if (typeof $("#idarray" + vald + nowrow).val() == "undefined") {
                    nowrow--;
                }

            }
            else if (event.keyCode == 32) {
                if ($("#idarray" + vald + nowrow) != null) {
                    //alert($("#idarray" + nowrow));
                    allval = $("#idarray" + vald + nowrow).attr("name");
                    if (allval != null) {
                        arr1 = allval.split(',');
                        $("#" + vald).val(arr1[0]);
                        $("#" + showd).val(arr1[1]);

                    }
                    $("#" + obj1).css("display", "none");
                }
            }

            if (typeof $("#idarray" + vald + nowrow).val() != "undefined") {

                $("#idarray" + vald + nowrow).css("background", "#ddeeff");

            }

        }

    </script>
</head>

<body>
<!--header-->
<div class="header">
  <div class="container">
  <div id="TOP"><img src="/frontimages/top.png" title="回到上面"/></div>
  <div class="banner"><img src="/frontimages/banner.jpg" alt="banner" border="0"/></div>
  <div class="logo"><a href="index.html"><img src="/frontimages/logo.png" alt="LOGO" border="0"/></a></div>
  </div>
</div>
<!--header-end-->


<div class="topmenu">
<ul>
<li><a href="/html/application">申請認證標章</a></li>
<li><a href="/html/history">查詢歷史紀錄</a></li>
<!--li><a href="Certification.html">認證標章</a></li>
<li><a href="error.html">認證成功失敗</a></li-->
<li><a href="/html/logout">登出</a></li>
</ul>
</div>
@RenderBody()
<!--footer-->
<div class="footer">
 <div class="container">Copyright©2017 All rights reserved.</div>
</div>
<!--footer-end-->

<script type="text/javascript" src="/frontjs/jquery.min.js"></script>
<script type="text/javascript" src="/frontjs/top.js"></script>

</body>
</html>
