@{
    Layout = "";
}
<link rel="stylesheet" type="text/css" href="~/css/erpcss.css" />
<center>
    <p>&nbsp;</p><p>&nbsp;</p>
    <h1>壓縮目錄檔案已完成!!</h1>
    <input type="button" value="閞閉視窗" onclick="javascript:window.close();" class="abutton">
</center>
<script>
    location.href = '@ViewBag.tmppath'
</script>
