<?xml version="1.0" encoding="utf-8"?>

<!-- 有關使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="iMedia_DBContext" connectionString="Data Source=10.20.167.251;Initial Catalog=iTravelDB;User ID=itravelsa;Password=P@ssw0rd;Persist Security Info=True;" providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TBROC09" connectionString="Data Source=10.20.167.251;Initial Catalog=TBROC09;User ID=itravelsa;Password=P@ssw0rd;Persist Security Info=True;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="iTravelDBEntities" connectionString="metadata=res://*/iTravel.csdl|res://*/iTravel.ssdl|res://*/iTravel.msl;provider=System.Data.SqlClient;provider connection string='data source=10.20.167.251;initial catalog=iTravelDB;user id=itravelsa;password=P@ssw0rd;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework'" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="iMedia_DBContext" value="Data Source=10.20.167.251;Initial Catalog=iTravelDB;User ID=itravelsa;Password=P@ssw0rd;Persist Security Info=True;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TBROC09" value="Data Source=10.20.167.251;Initial Catalog=TBROC09;User ID=itravelsa;Password=P@ssw0rd;Persist Security Info=True;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下面的範例中，"Replace" 轉換將會取代 Web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>