BODY {/*COLOR: #666;*/COLOR:transparent;}/*右上點點讓它透明*/
UL, P{PADDING: 0px; MARGIN: 0px;}

#imgPlay {
	MARGIN: 0px;PADDING: 0px; OVERFLOW: hidden; WIDTH: 980px; ZOOM: 1; POSITION: relative;  hight: 352px;padding-top:0px;
}
#imgPlay .imgs img {
	BORDER-RIGHT: #dbdbdb 0px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #dbdbdb 0px solid; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: #dbdbdb 0px solid; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: #dbdbdb 0px solid;
	WIDTH: 980px; 
	height:352px; OVERFLOW: hidden;
}
#imgPlay .imgs li {
	FLOAT: left; POSITION: relative; 
}
/*圖片總長*/
#imgPlay .imgs {
	WIDTH: 3920px;
}
/*#imgPlay .btn {
	RIGHT: 12px; OVERFLOW: hidden; WIDTH: 112px; BOTTOM: 12px; TEXT-INDENT: -9999px; POSITION: absolute; HEIGHT: 29px;
}
#imgPlay .btn A {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px 0px; DISPLAY: block; WIDTH: 112px; HEIGHT: 29px;
}
#imgPlay .btn A:hover {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px -30px;
}*/
#imgPlay .prev {
	BACKGROUND: url(../images/adv_right.png) no-repeat 0px 0px; 
	LEFT: 0px; 
	WIDTH: 32px; 
	CURSOR: pointer; 
	TEXT-INDENT: -9999px; 
	POSITION: absolute; 
	TOP: 150px; 
	HEIGHT: 56px;
}
#imgPlay .next {
	BACKGROUND: url(../images/adv_left.png) no-repeat 0px 0px; 
	LEFT: 0px; 
	WIDTH: 32px; 
	CURSOR: pointer; 
	TEXT-INDENT: -9999px; 
	POSITION: absolute; 
	TOP: 150px; 
	HEIGHT: 56px;

}
#imgPlay .next {
	BACKGROUND-POSITION: right 0px; 
	RIGHT: 0px; 
	LEFT: auto;
}
#imgPlay .num {
	DISPLAY: inline;
	POSITION: absolute;
	TOP: 200px;
	HEIGHT: 19px;
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(../images/imgPlayer.png) no-repeat -19px -83px; 
	MARGIN: 0px 0px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px;
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px;
}
/*點點白底*/
/*#imgPlay .num .lc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	BACKGROUND: url(../images/mc.png) repeat-x;
}
#imgPlay .num .rc {
	BACKGROUND: url(../images/rc.png) no-repeat;
}*/
/*點點*/
#imgPlay #numInner {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 3px;
	POSITION: absolute;
	TOP: 230px;
	TEXT-ALIGN: center;
	
}
