@{
    Layout = "";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    body {
        font-family: "標楷體",  Arial, Helvetica, sans-serif;
    }
    table {
      border-collapse:collapse;
      padding:0 0 0 0;
      }
    tr {
      mso-yfti-irow:0;mso-yfti-firstrow:yes;
      border-collapse:collapse;
      padding:0 0 0 0;
      }
    td {
      border-collapse:collapse;
      padding:0 0 0 0;
      }
    a {
      border-collapse:collapse;
      padding:0 0 0 0;
    }
    span {
      border-collapse:collapse;
      padding:0 0 0 0;
    }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <center>
        <table border=0 width=60%>
           
                
                  <tr >
                     <td align="center" colspan=6><font size=5>採樣標籤列表</font>
                    </td>
                  </tr>
				   <tr>
                    <td width=12%>檢驗單位：</td>
                    <td width=18%>臺東縣XX鄉公所</td>
					<td width=12%>檢驗登記編號：</td>
                    <td colspan=3>&nbsp;</td>
                  </tr>
                  <tr>
                    <td width=12%>申請人：</td>
                    <td ><span style="color:#009FCC;">陳小呆</span></td>
					<td width=22%>受委託廠商：</td>
                    <td width=18%>&nbsp;</td>
                    <td width=6%>村別：</td>
                    <td ><span style="color:#009FCC;">振興村</span></td>
                  </tr>
                  
                  
               
					<table border=1 width=60%>
						<tr>
							<td align="center" width=10% rowspan=2>地段</td>
							<td align="center" rowspan=2 width=10%>地號</td>
							<td align="center" rowspan=2 width=10%>面積(公頃)</td>
							<td align="center" width=20% colspan=2>AChE抑制率</td>
							<td align="center" width=20% colspan=2>Bt.tset/TTC</td>
							<td align="center" rowspan=2>檢驗結果</td>
							<td align="center" width=10% rowspan=2>備註</td>
						</tr>
						<tr>
							<td align="center" >無溴</td>
							<td align="center" >加溴</td>
							<td align="center" >陰性</td>
							<td align="center" >陽性</td>
						</tr>                   
						<tr>							
							<td align="center" ><span style="color:#009FCC;">萬安水墜</span></td>
							<td align="center" ><span style="color:#009FCC;">1086</span></td>
							<td align="center" ><span style="color:#009FCC;">0.938500</span></td>
							<td align="center" ><span style="color:#009FCC;">5</span></td>
							<td align="center" ><span style="color:#009FCC;">2</span></td>
							<td align="center" colspan=2>陰性</td>
							<td align="center" >合格</td>
							<td align="center" >&nbsp;</td>
						</tr>
						
					</table>
					
					<table border=0 width=60%>
						<br>
						<tr >
							<td align="center" rowspan=6 >備<br><br><br>註</td>
						</tr>
						<tr >
							<td  colspan=3>1.抑制率達35%以下者為&nbsp;安全。</td>		
						</tr>
						
						<tr >
							<td colspan=3>2.抑制率達35%～44%者為警告，通知供應單位延期採收與改善，並對農民進行用藥追蹤及教育。</td>		
						</tr>
						
						<tr >
							<td colspan=3>3.抑制率達45%以上者為&nbsp;危險，停止交易或銷毀，必要時，由供應單位切結後，將樣品送衛生局或農藥檢驗單<br>&nbsp;&nbsp;位以化學複驗，並依食品衛生管理法或農藥管理準處置。</td>		
						</tr>
						
						<tr >
							<td colspan=3>4.AChE抑制率之有效位數係依經濟部標準檢驗局，民國57年10月23日公告之中華民國國家標準規定規定極限值<br>&nbsp;&nbsp;之有效位數指示法(CNS2925)計算。</td>		
						</tr>
						
						<tr >
							<td colspan=3>5.**Bt.tset/TTC(殺蟲劑檢驗)：陰性為合格，陽性為不合格。</td>		
						</tr>
									
						<tr ><td ><br></td></tr>
						<tr ><td ><br></td></tr>
						<tr >
							<td  width=12%>檢定員簽章：</td>		
							<td  width=40%>&nbsp;</td>		
							<td  width=12%>檢定員日期：</td>		
							<td ><span style="color:#009FCC;">2016-12-14</span></td>		
						</tr>
						
					</table>
			
					
        </table>
    </center>
</body>

</html>
