#menu_list .container{ width:180px; text-align:left;font-size:13px; }
#menu_list .container .menuTitle {
	margin: 0px 15px;
	padding:3px;
	padding-left:15px;
	color: #fff;
	font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;	
	background-color: #0076a8;
	/*background: linear-gradient(#0076a8 50%, #008fcc 100%);*/
	cursor: pointer;
	border-bottom: 1px dotted #fff;
    background-image:url(../images/icon.gif);
	background-repeat:no-repeat; 
	background-position:left 10px;
}
#menu_list .container .menuContent {font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif; background-color: #0076a8; }
#menu_list .container .menuContent ul{margin-top: 0px;list-style: none; margin-left:-20px; margin-right:2px; font-size:13px; }
#menu_list .container .menuContent ul li{
	color:#fff;
	margin-top:-2px;
	padding-left:8px;
	background-image: url(../images/icon03.gif);
	background-repeat:no-repeat; 
	background-position:left 10px;}
#menu_list .container .menuContent ul li .tfont {
	background-position: left center;
	padding-left: 15px;
	margin-left:-5px;
	/*background-image: url(../images/menu_icon.png);*/
	background-repeat: no-repeat;
	color:#fff;
}

#menu_list .container .menuContent ul li .tfont a {
	color:#fff; line-height: 200%; text-decoration: none; list-style-type: disc; list-style-position: outside;
}
#menu_list .container .menuContent ul li .tfont:hover { text-decoration:underline;}
